@use "../abstracts" as *;
.job-card {
  @include syntax-card;
  overflow: hidden;
  border: 1px solid transparent;
  transition: border-color 0.3s ease;

  &:hover {
    border-color: rgba($clr-brand-tertiary, 0.2);
  }
}
