// src/styles/abstracts/_colors.scss

$clr-brand-surface: var(--clr-brand-surface);
$clr-brand-surface-low: var(--clr-brand-surface-low);
$clr-brand-on-surface: var(--clr-brand-on-surface);
$clr-brand-on-surface-variant: var(--clr-brand-on-surface-variant);
$clr-brand-primary: var(--clr-brand-primary);
$clr-brand-on-primary: var(--clr-brand-on-primary);
$clr-brand-secondary: var(--clr-brand-secondary);
$clr-brand-tertiary: var(--clr-brand-tertiary);
$clr-brand-danger: var(--clr-brand-danger);

$ghost-border-opacity: 0.1;
