@use "../abstracts" as *;
.home-page {
  &__hero {
    margin-bottom: 6rem;
  }
  
  &__title {
    font-size: clamp(3.75rem, 10vw, 8rem);
    font-weight: $fw-bold;
    margin-bottom: 2rem;
    letter-spacing: $ls-tighter;
    
    span {
      color: $clr-brand-primary;
      font-style: italic;
    }
  }
}
